.mouse {
    width: 3px;
    padding: 10px 12px;
    height: 32px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
    .scroller {
        width: 3px;
        height: 10px;
        border-radius: 25%;
        background-color: #fff;
        animation-name: scroll;
        animation-duration: 2.2s;
        animation-timing-function: cubic-bezier(.15,.41,.69,.94);
        animation-iteration-count: infinite;
    }
}

@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}

.vertical-line {
    border-left: 2px solid #fff;
    height: 16px;
    position: absolute;
    margin-top: 8px;
    left: 30px;
    opacity: 0.75;
}


.pulse-container {
    position: absolute;
}

.pulse-circle {
   
    &__large {
        //opacity: 0;
        &--first {
        
        }
    }
}

.translatey-offset-down {
    transform: translateY(20px);
}
