.blog {
    min-height: calc(100vh - 448px);
    font-size: 1.1rem;
    line-height: 1.9rem;
    text-rendering: optimizelegibility;
    word-break: break-word;
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.84);
    &__title {
        font-size: 2em;
        font-family: 'Ilisarniq-Black', sans-serif!important;
    }

    &__link {
        font-weight: bold;
        color: $body-color;
    }

    &__author {
        font-size: 14px;
        line-height: 20px;
    }

    &__date {
        color: $brand-tropical-violet;
    }

    &__avatar {
        width: 48px;
        height: 48px;
        border-radius: 24px;
        margin-bottom: 0;
    }

    &__content {
        //BEM BETRAYAL

        ol li, ul li {
            font-size: 1.1rem;
            line-height: 1.9rem;
            color: #22354a;
            opacity: 0.85;
        }



        min-height: calc(100vh - 448px);
        font-size: 1.1rem;
        line-height: 1.9rem;
        text-rendering: optimizelegibility;
        word-break: break-word;
        -webkit-font-smoothing: antialiased;
        color: rgba(0, 0, 0, 0.84);


        img {
            max-width: 100%;
            min-width: 100%;
            margin-bottom: 20px;
        }

        pre {
            border-radius: 10px;
            background: #212121;
            color: #fff;
            padding: 10px;
            font-size: 14px;
        }

        h1, h2 {
            margin-block-end: 16px;
        }

        h2 {
            margin-block-start: 40px;
            margin: 2.5rem 0 1.7rem;
    }

        h3, h4 {
            margin-block-start: 30px;
            margin-block-end: 12px;
            margin: 2.5rem 0 1.7rem;
        }

        a {
            font-weight: bold;
            text-decoration: underline;

            &:hover {
                color: rgba(0, 0, 0, 0.84);
            }
        }
        blockquote {
            p {
                font-style: italic;
                opacity: .75;
            }
            margin: 2em 0;
        }
    }
}

.blog-item {
    margin-bottom: 3em;
    font-size: 21px;
    &:hover {
        .blog-item__image {
            box-shadow: 0 6px 20px 0 rgba(32,28,38,0.6);
        }
    }
    &__h2 {
        margin-bottom: 1.3rem;
    }
    &__btn {
        font-size: 1.1rem;
    }
    &__p {
        font-size: 1.1rem;
        line-height: 1.9rem;
        text-rendering: optimizelegibility;
        word-break: break-word;
        -webkit-font-smoothing: antialiased;
        color: rgba(0, 0, 0, 0.84);
    }
    img {
        max-width: 100%;
    }
    &__image {
        transition: all .25s ease-out;
        box-shadow: 0 6px 20px 0 rgba(32,28,38,0.30);
        width: 100%;
        height: 275px;
        background: url(/images/blog/tech.jpeg) no-repeat center center;
        background-size: cover;
        &--small {
            height: 197px;
        }
    }

    h1, h2, h3, p, a {
        color: rgba(0, 0, 0, 0.84);
    }

    .date {
        color: #666;
        font-size: 16px;
    }
}

.blog-tag {
    padding: 1px 15px 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    background-color: #F7F7F7;
    color: #786F84;

    &:hover {
        text-decoration: underline;
    }
}

#isso-thread {
    h4 {
        margin-bottom: 1em;
    }
    .textarea {
        border-radius: 5px;
        padding: 1rem;
        width: 100%;
        border: 0;
        font-weight: bold;
        color: $brand-primary;
        margin-bottom: 1em;
    }
    input[name="website"] {
        display: none;
    }
    input[name="author"], input[name="email"] {
        border-radius: 5px;
        height: 3rem;
        padding: 1rem;
        width: 100%;
        border: 0;
        font-weight: bold;
        color: $brand-primary;
    }
    input[type="submit"] {
        font-size: .75em;
        text-transform: uppercase;
        border-radius: 25px;
        padding: 10px;
        transition: all .5s ease-out;
        background-color: $brand-primary;
        border:1px $brand-primary solid;
        color: $white;
        box-shadow: rgba($brand-primary, 0.3) 0 6px 20px;
        &:hover {
            box-shadow: rgba($brand-primary, 0.5) 0 6px 20px;
        }
    }
    input[type="button"] {
        font-size: .75em;
        text-transform: uppercase;
        border-radius: 25px;
        padding: 10px;
        transition: all .5s ease-out;
        background:transparent;
        border:1px $brand-primary solid;
        color:$brand-primary;
    }
}

@include media-breakpoint-down(md) {
    .blog-item {
        &__tag {
            font-size: 12px;
            position: absolute;
            top: 0;
            right: 0;
            color: white;
            background: #1AC0C6;
            font-weight: bold;
            padding: 5px 10px;
            z-index: 1;
        }

        &--featured {
            position: relative;
            background: #f9f9f9;
        }
    }
}

@include media-breakpoint-between(md, lg) {
    .blog-item {
        &__image {
            height: 200px;
        }
    }
}

@include media-breakpoint-down(sm) {
    .blog-item {
        &__image {
            margin-bottom: 1em;
        }
    }
    #isso-thread {
        .input-wrapper {
            margin-bottom: 1em;
        }
    }
}

@include media-breakpoint-up(sm) {
    #isso-thread {
        p.input-wrapper {
            margin-right: 20px;
        }
    }
}
