.btn{
    &--primary {
        @include button-base();
        border: none;
        background-color: $brand-primary;
        color: $white;
        box-shadow: rgba($brand-primary, 0.3) 0 6px 20px;
        &:hover {
            box-shadow: rgba($brand-primary, 0.5) 0 6px 20px;
        }
    }

    &--secondary{
        @include button-base();
        background:transparent;
        border:2px white solid;
        color:$white
    }

    &--outline-primary {
        border:none;
        color: $brand-primary;
        &:hover {
            background-color: darken($brand-primary, 5);
            border-color: darken($brand-primary, 5);
        }
    }

    &--text{
        background:none;
        border:none;
        text-decoration: underline;
    }
}

//.hexagon {
//    position: relative;
//    width: 100%;
//    height: 4.799em;
//    background-color: $brand-raisin-black;
//    margin: 38.39px 0;
//    border-left: solid 2px $brand-primary;
//    border-right: solid 2px $brand-primary;
//    display: flex;
//    justify-content: center;
//    transform: rotate(30deg);
//    img {
//        z-index: 2;
//        transform: rotate(-30deg);
//    }
//    &:before {
//        top: -47.0226px;
//        border-top: solid 2.8284px $brand-primary;
//        border-right: solid 2.8284px $brand-primary;
//        content: "";
//        position: absolute;
//        z-index: 1;
//        width: 94.05px;
//        height: 94.05px;
//        -webkit-transform: scaleY(0.5774) rotate(-45deg);
//        -ms-transform: scaleY(0.5774) rotate(-45deg);
//        transform: scaleY(0.5774) rotate(-45deg);
//        background-color: inherit;
//        left: 17.4774px;
//    }
//    &:after {
//        bottom: -47.0226px;
//        border-bottom: solid 2.8284px $brand-primary;
//        border-left: solid 2.8284px $brand-primary;
//        content: "";
//        position: absolute;
//        z-index: 1;
//        width: 94.05px;
//        height: 94.05px;
//        -webkit-transform: scaleY(0.5774) rotate(-45deg);
//        -ms-transform: scaleY(0.5774) rotate(-45deg);
//        transform: scaleY(0.5774) rotate(-45deg);
//        background-color: inherit;
//        left: 17.4774px;
//    }
//    &.active {
//        background-color: red;
//    }
//}

.hexagon {
    background-color: transparent;
    border: none;
}