.btn{
    &--primary {
        @include button-base();
        border: none;
        background-color: $brand-primary;
        color: $white;
        box-shadow: rgba($brand-primary, 0.3) 0 6px 20px;
        &:hover {
            box-shadow: rgba($brand-primary, 0.5) 0 6px 20px;
        }
    }
    &--download {
        @include button-base();
        border: none;
        background-color: $brand-primary;
        color: $white;
        box-shadow: rgba($brand-primary, 0.3) 0 6px 20px;
        position: relative;
        padding: 10px 56px 10px 20px;
        margin: 0 10px;
        text-align: center;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: $white;
            box-shadow: rgba($brand-primary, 0.5) 0 6px 20px;
            .btn--download--circle {
                background-color: darken($brand-primary, 10);
            }
        }
        &--circle {
            background-color: darken($brand-primary, 5);
            width: 44px;
            height: 44px;
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 0;
            margin-left: 10px;
            right: 0;
            transition: all .5s ease-out;
        }
    }

    &--secondary{
        @include button-base();
        background:transparent;
        border:2px white solid;
        color:$white;
        &:hover {
            background-color: white;
            color: $brand-dark-lavender;
        }
    }

    &--outline-primary {
        border:none;
        color: $brand-primary;
        &:hover {
            background-color: darken($brand-primary, 5);
            border-color: darken($brand-primary, 5);
        }
    }

    &--text{
        background:none;
        border:none;
        text-decoration: underline;
        svg {
            transition: transform .25s ease-out;
            transform: translateX(0px);
        }
        &:hover {
                svg {
                    transform: translateX(5px);
                }

        }
    }
    &--text-back {
        .fa {
            transition: transform .25s ease-out;
            transform: translateX(0px);
        }
        &:hover {
            .fa {
                transform: translateX(-5px);
            }

        }
    }
    &--transparent {
        background-color: transparent;
        border: none;
        &:focus {
            outline: none;
        }
    }
    &--hexagon {
        background: transparent!important;
        border: none !important;
    }
}

button{
    outline:none;

    &:hover, &:active, &:focus{
        outline:none;
    }
}

.clickable {
    cursor: pointer;
}

@include media-breakpoint-down(lg) {
    .btn {
        &--hexagon {
            &__title {
                margin-bottom: 2em;
            }
        }
    }
}
