.btn--primary {
    background-color: $brand-primary;
    border:none;
    border-radius: 25px;
    padding:10px;
    color:$white;
    box-shadow: rgba($brand-primary, 0.5) 0 6px 20px;

    &:hover {
        box-shadow: rgba($brand-primary, 0.5) 0 6px 20px;
    }
}

.btn--outline-primary {
    border:none;
    color: $brand-primary;
    &:hover {
        background-color: darken($brand-primary, 5);
        border-color: darken($brand-primary, 5);
    }
}
