.card {
    background-color: $brand-raisin-black;
    border-radius: 40px;
    min-height: 318px;
    justify-content: space-between;
    transition: all .25s ease-out;
    &:hover {
        box-shadow: 0 6px 20px 0 rgba(21,20,19,0.30);
        transform: scale(1.03);
        background-color: darken($brand-raisin-black, 4);
    }
    .card-title {
        color: white;
        border-bottom: 1px solid $brandNavySecondary;
    }
    .card-text {
        color: white;
        max-width: 15em;
    }
    &__footer {
        font-size: 14px;
        img {
            width: 14px;
        }
    }
    &__technology {
        &:before {
            content: '';
            display: inline-block;
            width: 9px;
            height: 9px;
            border-radius: 4.5px;
            background-color: #f1e05a;
            margin-right: .5em;
        }
        &--red {
            &:before {
                background-color: #e34c26;
            }
        }
        &--blue {
            &:before {
                background-color: #438eff;
            }
        }
        &--brown {
            &:before {
                background-color: #b07219;
            }
        }
        &--dark-green {
            &:before {
                background-color: #384d54;
            }
        }
        &--yellow {
            &:before {
                background-color: #f1e05a;
            }
        }
    }
}

.card-build-costs {
    background-color: $brand-raisin-black;
    border-radius: 40px;
    transition: all .25s ease-out;
    &:hover {
        box-shadow: 0 6px 20px 0 rgba(21,20,19,0.30);
        transform: scale(1.03);
        background-color: darken($brand-raisin-black, 4);
    }
    &__google {
        background: left 5%/40% 70% no-repeat url("/static/images/svg-icons/play-store-bg.svg") $brand-raisin-black;;
    }
    &__ios {
        background: top left no-repeat url("/static/images/svg-icons/app-store-bg.svg") $brand-raisin-black;;
    }
}

@include media-breakpoint-up(lg) {
    .card {
        margin: 0 2em;
    }
}
