.footer-container{
    background:$brandNavy;
}

.footer{
    color:$white;
    padding:100px 50px;

    &__icon{
        height:50px;
        width:50px;
    }

    &__title{

    }

    &__text{
        color:$white;
    }
}

.footer-legal{
    color:$white;
}

.map-container{
    height:calc(100vh - 500px);
    min-height:60vh;
    position: relative;
}

.map-blender{
    position:absolute;
    width:100%;
    background:linear-gradient( to top, $brandNavy 25%, rgba($brandNavy,0));
    z-index: 3;
    height: 150px;
    bottom:0;
}

.map-overlay{
    position:absolute;
    height:100%;
    z-index: 3;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    color:$white;

    &__title{
        font-size:2.5rem;
    }
}