.hero{
    background:$brandNavy url("/static/images/vector-cubes-bg.svg") center center no-repeat;
    overflow: visible;
    height:100vh;
    width:100%;
    color:#fff;

    &__title{
        font-size:3em;
    }

    &__gfx-container{
        background:url("/static/images/pulse-bg.svg") center center no-repeat;
        background-size:contain;
        height:100%;
    }

    &--half{
        height:50vh;
    }
    &__list {
        //svg {
        //    max-width: 93px;
        //}
    }
}

@media (max-width: #{map-get($breakpoints, mobile)}) {
    .hero{
        background:$brandNavy;

        &__image{
            border:1px solid red;
        }
    }
}

