.hero {
    background: $brandNavy url("/static/images/vector-cubes-bg.svg") center center no-repeat;
    overflow: visible;
    width: 100%;
    color: #fff;

    &__title {
        font-size: 3em;

        &--red {
            color: $brand-purely-red;
        }
        &--primary {
            color: $brand-primary;
        }
        &--hidden {
            opacity: 0;
            display: none;
        }
        &--large {
            font-size: 60px;
            font-family: Ilisarniq-Bold, sans-serif;
            font-weight:bold!important;
            line-height: 72px;
        }
    }

    &__gfx-container {
        background: url("/static/images/pulse-bg.svg") center center no-repeat;
        background-size: contain;
        height: 100%;
    }

    &__blob-container {
        background: url("/static/images/dot-texture.svg") center right no-repeat;
        background-size: 188px;
        position: relative;
        height: 100%;
    }

    &--tone-and-sculpt {
        background-image: linear-gradient(45deg, #49B2D8 0%, #71D2EA 100%);
    }

    &--purely-capital {
        background-color: #D02D55;
    }

    &--hailie {
        background-color: #FF715A;
    }

    &--wazoku {
        background-image: linear-gradient(118deg, #173E5A 0%, #4D7C9E 96%, #4D7C9E 96%);
    }

    &--ba {
        background-color: #3658B0;
    }

    &--wfa {
        background-color: rgba(255,0,0.6,0.8);
    }

    &--publicate {
        background-color: #fe7101;
    }
    &--electronx {
        background-color: #5BABBB;
    }
    &--electron-dashboard {
        background-color: #5EABBA;
    }
    &--electron-connect {
        background-color: #197FA0;
    }
    &--mainstay {
        background-image: linear-gradient(225deg, #4EACC5 0%, #267493 100%);
    }
    &--unilever {
        background-color: #007DBB;
    }
    &--hertz {
        background-color: #FFD60D;
        color: $brand-raisin-black;
    }
    &--meownow {
        background-color: #FE7F2C;
    }
    &--glenfiddich {
        background-color: #483c3c;
    }
    &--change-please {
        background-image: linear-gradient(-133deg, #48BAF2 0%, #908DF7 87%);
    }
    &--visa {
        background-color: #1a1e5a;
    }
    &--dugout {
        background-color: #D8315B;
    }
    &--chorus {
        background-image: linear-gradient(-133deg, #46cd86 0%, #a1d5ea 87%);
    }
    &--imperial {
        background-color: #f6921e;
    }
    &--patientview {
        background-color: #368de8;
    }
    &--racingpost {
        background-color: #d11f25;
    }

    &--toyota {
        background-color: #d90022;
    }
    &--zopa {
        background-color: #00D9C5;
    }
    &--coral {
        background-color: #084d8d;
    }
    &--hero-wellbeing {
        background-color: #15CBCE;
    }
    &--cap10 {
        background-image: linear-gradient(-29deg, #4E4AF2 0%, #30DBE6 100%);
    }
    &--site-assist {
        background-image: linear-gradient(119deg, #1A255B 0%, #0B102E 97%);
    }
    &--pickswise {
        background-color: #041c2c;
    }
    &--detonator {
        background-color: #ED6D05;
    }
    &--vuunity {
        background-color: #02AEEE;
    }
}

@include media-breakpoint-down(md) {
    .hero {
        position: relative;
        overflow: hidden;

        &--three-quarters {
            height: auto;
        }
        &__footer {
            position: absolute;
            left: 0;
            bottom: 0;
            overflow-x: scroll;
            width: 100%;
            &__links {
                width: 720px;
            }
        }


    }
    .hero__title {
        font-size: 2em;
    }
}


@include media-breakpoint-up(md) {
    .hero {
        &--full {
            height: 675px;
        }

        &--half {
            height: 440px;
        }

        &--three-quarters {
            height: 670px;
        }
    }
}
