.img {
    &__full-width {
        width: 100%;
    }
}

.brand-mark {
    z-index: 201;
    position: relative;
}

.client-logo {
    &--medium {
        max-width: 93px;
    }
    &--small {
        max-width: 50px;
    }
    &--large {
        max-width: 150px;
        min-width: 100px;
    }
}


//.@include media-breakpoint-down(sm) {
//    .client-logo {
//        &--small {
//            max-width: 93px;
//        }
//        &--large {
//            max-width: 150px;
//        }
//    }
//}
