.img {
    &__full-width {
        width: 100%;
    }
}

.brand-mark {
    z-index: 201;
    position: relative;
}

.client-logo {
   
    &--small {
        max-width: 93px;
    }
    &--large {
        max-width: 150px;
    }
}
