.img {
    &__full-width {
        width: 100%;
    }
    &__large {
        width: 1200px;
    }
    &__shadow {
        box-shadow: 0 6px 20px 0 rgba(32,28,38,0.30);
    }
    &__quote-image {
        position: relative;
        top: 3em;
    }
    &__short {
        max-height: 450px;
    }
}

.brand-mark {
    z-index: 201;
    position: relative;
}

.client-logo {
    &--medium {
        max-width: 93px;
    }
    &--small {
        max-width: 50px;
    }
    &--large {
        max-width: 150px;
        min-width: 100px;
    }
}

.img-fluid{
    &--short{
        height:400px;
    }
}

@include media-breakpoint-down(md) {

}
