//SECTION

.section{
    padding-top:50px;
    padding-bottom:50px;

    &__title{
        font-size:3em;
        &--dark {
            color: $brandNavy;
        }
    }
    &--no-padding {
        padding: 0;
    }
}
