.lined-list {
  display: flex;
  &__item {
    color: $brandNavySecondary;
    padding: $padding-base 0;
    border-bottom: 1px solid $border-color-default;
    flex-basis: calc(50% - 15px);
    margin-right: $margin-base;

    &__link {
      color: $brandNavySecondary;
      transition: all .25s ease-in;
      &:hover {
        color: $brandNavySecondary;
        text-decoration: none;
      }
    }

    &:hover {
      border-bottom: 1px solid $brand-primary;
      transition: all .25s ease-in;
      .lined-list__item__link {
        padding-left: .5em;
      }
    }
  }
}

.rating-list {
  &__app-store-icon {
    font-size: 2.4em;
  }
  &__star-icon {
    font-size: 1.25em;
  }
}

.wide-list {
  display: flex;

  &__item {
    color: $brandNavySecondary;
    padding: $padding-base 0 0 0;
    flex-basis: calc(50% - 15px);
  }
}

.list-image__container {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.hero__list {
  .text {
    color: $white;
  }
}

@include media-breakpoint-down(sm) {

  .hero__list {
    .text {
      font-size: 14px;
    }
  }

}

@include media-breakpoint-down(md) {
  .hero__list {
    padding: 1em;
  }
}
