.navbar-container{
    background:'transparent';
}

.nav-item{
    &__link{
        color:#fff;
        &--circle {
            transition: all .25s ease-out;
            &::before {
                content: '';
                display: inline-block;
                width: 8px;
                height: 8px;
                border: 1px solid white;
                border-radius: 4px;
                margin-right: 10px;
                margin-left: 10px;
                transition: all .25s ease-out;
            }
            &:hover {
                &::before {
                    content: '';
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-radius: 4px;
                    margin-right: 10px;
                    background-color: $brand-primary;
                    border: 1px solid $brand-primary;
                }
            }
        }
        &:hover {
            color:#fff;
            text-decoration: none;
        }
    }
}
