.panel{
    padding:70px 0;
    border-radius: 0;

    &--primary{
        background:$brand-primary;
        color:$white;
    }

    &--navy{
        background:$brand-raisin-black;
        color:$white;
    }
    
    &--ladbrokes{
        background-color: #084d8d;
        color:$white !important;
        h6 {
            color:$white !important;
        }
    }

    &--gradient-blue{
        background:linear-gradient( to top, #77D6EC, #42ADD5);
        box-shadow: none;
    }

    &--gradient-publicate{
        background:linear-gradient( to top, #ff9211, #fe7101);
    }

    &--gradient-meownow{
        background:linear-gradient( to top, #fe9347, #FE7F2C);
    }

    &__title{

    }

    &__text{
        color:$white;
    }

    &__list{

    }
}

.document{
    background:linear-gradient(to bottom right, #2C2733,#3f3a46);
    border-radius:8px;
    padding:20px;
    color:#fff;

    &--primary{
        background:linear-gradient(to bottom right, #1ad9df,#1AC0C6);
        box-shadow: rgba($brand-primary, 0.3) 0 6px 20px;
    }
}

@include media-breakpoint-down(md) {
    .panel{
        padding:20px 0;
    }
}
