.panel{
    padding:70px 0;
    border-radius: 0;

    &--primary{
        background:$brand-primary;
        color:$white;
    }

    &--navy{
        background:$brand-raisin-black;
        color:$white;
    }

    &--ladbrokes{
        background-color: #084d8d;
        color:$white !important;
        h6 {
            color:$white !important;
        }
    }

    &--toyota{
        background-color: #d90022;
        color:$white !important;
        h6 {
            color:$white !important;
        }
    }

    &--gradient-blue{
        background:linear-gradient( to top, #77D6EC, #42ADD5);
        box-shadow: none;
    }

    &--background-jm {
        background-color: #1e22aa;
    }

    &--gradient-sa{
        background-image: linear-gradient(119deg, #1A255B 0%, #0B102E 97%);
    }

    &--bg-pickswise{
        background-color: #041c2c;
    }

    &--gradient-publicate{
        background:linear-gradient( to top, #ff9211, #fe7101);
    }

    &--gradient-meownow{
        background:linear-gradient( to top, #fe9347, #FE7F2C);
    }

    &__title{

    }

    &__text{
        color:$white;
    }

    &__list{

    }
    &--cost {
        background-color: #201C26;
        border-radius: 40px;
        background: #201C26;
        box-shadow: 0 6px 20px 0 rgba(21, 20, 19, 0.3);
        &__header {
            font-size: 18px;
            font-weight: bold;
               padding: 2em 1em;
            background: #18171A;
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
        }
        &__body {
            padding: 2em 1em;
        }
    }
}

.document{
    background:linear-gradient(to bottom right, #2C2733,#3f3a46);
    border-radius:8px;
    padding:20px;
    color:#fff;

    &--primary{
        background:linear-gradient(to bottom right, #1ad9df,#1AC0C6);
        box-shadow: rgba($brand-primary, 0.3) 0 6px 20px;
    }
}

@include media-breakpoint-down(md) {
    .panel{
        padding:20px 0;
    }
}

