.panel{
    padding:70px 0;
    border-radius: 0;

    &--primary{
        background:$brand-primary;
        color:$white;
    }

    &__title{

    }

    &__text{
        color:$white;
    }

    &__list{

    }
}

@include media-breakpoint-down(md) {
    .panel{
        padding:20px 0;
    }
}