.navbar-container {
    position: absolute;
    left:0;
    right:0;
    background-color: $bt-brand-secondary-light;
    z-index: 10;
}
.navbar {
    padding: 0;
    line-height: $navbar-height;
    background-color: transparent;
    .navbar-brand {
        font-size: 1.2rem;
        padding-top: 0;
        img {
            height: 24px;
            margin-bottom:10px;
            margin-right: 1.5rem;
        }
    }

}
.nav-link  {
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 1rem;
    @include transition(all, 200ms);
    &:hover {
        color: white;
    }
    &.nav-faint {
        opacity: 0.5;
        &.navbar-brand {
            opacity: 1;
        }
    }
    .nav-link-featured {
        border-radius: 5px;
        border: 1px solid rgba(255,255,255,.5);
        padding: 5px 20px;
        @include transition(all, 200ms);
        &:hover {
            border-color: white;
        }
    }
}
