.project{
    &--featured{
        color:$white;
        box-shadow: -5px 5px 100px 0 rgba(0,0,0,0.22);
        border-radius: 100px 0 0 100px;
        min-height: 670px;
        transition: all .5s ease-out;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        align-items: center;
        width: 100%;
        .project__subtitle{
            color:$white;
        }
        .project__title {
            opacity: 0;
        }
        &.active {
            pointer-events: auto;
            opacity: 1;
            display: block;
            .project__title {
                opacity: 1;
                animation: fadein 1s;
            }
        }
    }
    
    &--hero-wellbeing{
        background-color: #15CBCE;
    }
    &--t-and-s{
        background-color: #5CC2E1;
    }
    &--purely{
        background-color: #25153C;
    }

    &--ba{
        background-color: #2E5C99;
    }
    &--hailie {
        background-color: #FF715A;
    }

    &__title{
        font-size:3rem;
    }
    &__type {
        font-size: .85rem;
    }

    &__number {
        opacity: 0.15;
        font-family: Ilisarniq-Bold, 'sans-serif';
        font-size: 500px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: right;
        position: absolute;
        top: -.25em;
        right: -.05em;
    }
    &__image {
        &--short {
            max-height: 400px;
        }
    }
    &__item {
        margin: 4em 0;
        animation: fadeIn ease 1.5s;
    }
    &-section-item {
        &__text {
            white-space: pre-wrap;
        }
        &__list {
           li {
               color: #22354a;
               opacity: 0.85;
           }
        }
    }
    &__client-image {
        max-width: 150px;
    }
}

.project-hero {
    &__image {
        z-index: 1;
        position: relative;
    }
    &__client-logo {
        max-width: 280px;
    }
    
}

.project-bottom-nav {
    &__image {
        max-width: 200px;
    }
    &__item {

    }
}

.featured-projects-container {
    height: 600px;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.project-pagination-container{
    left: 4em;
    bottom: 0;
    position: absolute;
}

.project-pagination {
    display: flex;
    padding-left: 0;
    list-style: none;

    &__item {
        button {
            background-color: transparent;
        }
        &.active {
            .pagination-circle-icon {
                circle {
                    fill: white;
                }
            }
        }
    }
}


.project-hero {
    &--animation-container {
        position: absolute;
        left: -6em;
    }
}

@include media-breakpoint-up(md) {
    .project {
        &__item {
            &-container {
                min-height: 500px;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .project {
        &__title{
            font-size:1.85rem;
        }
        &__image {
            &--short {
                max-height: 260px;
            }
        }
    }
}


@include media-breakpoint-down(sm) {

    .project {
        &-pagination-container{
            left:0;
            width:100%;
        }
        &-pagination {
            position: relative;
            justify-content: center;
            bottom: 0;
            left: 0;
        }
        &__item {
          margin: 0;
        }
        &__cta{
            margin-top:20px;
        }
    }

    .featured-projects, .project--featured{
        min-height:100vh;
        border-radius: 0;
        &.active {
            display: block;
        }
    }

    .featured-projects-container {
        height: 100vh;
    }


}

