.navbar-container {
    background-color: $bt-brand-secondary-light;
    &.homepage {
        position: absolute;
        left:0;
        right:0;
        background-color: transparent;
    }
    z-index: 10;
}
.navbar {
    padding: 0;
    line-height: $navbar-height;
    background-color: transparent;
    .navbar-brand {
        font-size: 1.2rem;
        padding-top: 0;
        img {
            height: 24px;
            margin-bottom:10px;
            margin-right: 1.5rem;
        }
    }

}
.nav-link  {
    padding: 0;
    font-size: 1.1rem;
    font-weight: 400;
    margin-right: 1rem;
    @include transition(opacity, 200ms);
    &:hover {
        color: white;
    }
    &.nav-faint {
        opacity: 0.5;
        &.navbar-brand {
            opacity: 1;
        }
    }
    .nav-link-featured {
        border-radius: 5px;
        border: 1px solid rgba(255,255,255,.5);
        padding: 5px 20px;
        -moz-transition:    opacity 200ms;
        -o-transition:      opacity 200ms;
        -webkit-transition: opacity 200ms;
        transition:         opacity 200ms;

        transition-property: opacity;

        &:hover {
            border-color: white;
        }
    }
}
.navbar-nav {
    display: flex !important;
    flex-basis: auto;
    flex-direction: row !important;
}
.service-status {
    font-size: 14px;
    a:hover {
        color: white !important;
    }
    .uptime-badge {
        display: block;
        font-size: 14px;
        margin-bottom:5px;
        color: #f1f1f1 !important;
        text-decoration: none !important;

        .label {
            display: inline-block;
            background: linear-gradient(#5e5e5e, #4c4c4c);
            padding: 2px 5px;
            border-radius: 4px 0 0 4px;
        }
        .success {
            display: inline-block;
            background: linear-gradient(#5bc870, #4e9c4e);
            border-radius: 0 4px 4px 0;
            padding: 2px 5px;
        }
        .error {
            display: inline-block;
            background: linear-gradient(#dab32a, #cca417);
            border-radius: 0 4px 4px 0;
            padding: 2px 5px;
        }
    }
}
