.project{
    &--featured{
        background:linear-gradient(lighten($brand-primary, 5),$brand-primary);
        border-radius: 50px 0 0 50px;
        color:$white;
    }

    &--t-and-s{
        background:linear-gradient(#49B2D8,#71D2EA);
    }

    &--purely{
        background:linear-gradient(#D02D55,lighten(#D02D55, 20));
    }

    &--ba{
        background:linear-gradient(#2E5C99,lighten(#2E5C99, 20));
    }
}