.tag {
  height: 22px;
  line-height: 13px;
  border-radius: 6px;
  font-size: 13px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  border: 1px solid transparent;;
  &--grey {
    background: $brand-dark-lavender;
    color: white;
  }
  &--transparent {
    border-color: #2C2733;
    color: white;
  }
}
