//Adding fonts
@font-face {
    font-family: 'Ilisarniq-Regular';
    src: url('/static/fonts/Ilisarniq-Regular.otf');
    font-display:swap;
}
@font-face {
    font-family: 'Ilisarniq-Light';
    src: url('/static/fonts/Ilisarniq-Light.otf');
    font-display:swap;
}
@font-face {
    font-family: 'Ilisarniq-Bold';
    src: url('/static/fonts/Ilisarniq-Bold.otf');
    font-display:swap;
}

*{
    font-family: Ilisarniq-Regular, sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-weight:bold!important;
    font-family: Ilisarniq-Bold, sans-serif;
}

h2 > span {
    font-weight:bold!important;
    font-family: Ilisarniq-Bold, sans-serif;
}
.text-big-red {
    font-size: 60px;
    font-family: Ilisarniq-Bold, sans-serif;
    font-weight:bold!important;
    color: $brand-purely-red;
    line-height: 72px;
}
.bold{
    font-family: 'Ilisarniq-Bold', sans-serif!important;
}

.text-weight-black {
    font-family: 'Ilisarniq-Black', sans-serif!important;
}

.text-small{
    font-size:0.75rem!important;
}

.title {
    &--regular {
        font-family: Ilisarniq-Regular, sans-serif;
    }
    &--light {
        font-family: Ilisarniq-Light, sans-serif;
    }
    &--line-after {
        &:after {
            content: "";
            width: 30px;
            height: 5px;
            display: block;
            position: relative;
            top: 10px;
            background: $brand-primary;
            margin-bottom: 1.5em;
        }
    }
    &--project-section {
        &--small {
            color: $brand-dark-lavender;
            opacity: 0.6;
            text-transform: uppercase;
            font-family: Ilisarniq-Regular, sans-serif;
            font-size: .85rem;
        }
    }
}

p{
    color: #22354a;
    opacity: 0.85;
}

strong {
    font-family: Ilisarniq-Bold, sans-serif;
}

.large-para{
    font-size:1.25rem;
}

.text-grey {
    color: $brand-dark-lavender;
}

.text-gold {
    color: $brand-gold;
}

.text-dark {
    color: $brand-raisin-black !important;
    opacity: 1 !important;
}

.text-primary {
    color: $brand-primary;
}

.text-navy-secondary {
    color: $brandNavySecondary;
}


.text-react-blue {
    color: #61DAFB;
}

.bold {
    font-family: "Ilisarniq-Bold", sans-serif;
}

.light {
    font-family: "Ilisarniq-Light", sans-serif;
}

.bold-link{
    font-weight:bold!important;
}

blockquote{
    position: relative;
    &:before{
        content: url("/static/images/svg-icons/quote-mark.svg");
        position: absolute;
        top: -.35em;
        left: -.5em;
        font-size:6em;
        line-height:30px;
        color:$brand-primary;
    }
}

//TODO: workout where these base styles are coming from

.text-primary{
    color:$brand-primary!important;
}

a {
    color: $brand-primary;
    transition: all .25s;
    &:hover {
        color: lighten($brand-primary, 10);
    }
}
