.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.float-right{
    float:right;
}

.float-left{
    float:left;
}

.margin-top{
    margin-top:20px;
}

.margin-bottom{
    margin-bottom:20px;
}

.no-mb{
    margin-bottom:0;
}

.text-left{
    text-align: left;
}

.link-style{
    text-decoration: underline;
}

.opacity {
    &--70 {
        opacity: 0.7;
    }
}

.absolute{
    &--top{
        position:absolute;
        top:0;
    }
    &--left{
        position: absolute;
        left:0;
    }
    &--right{
        position: absolute;
        right:0;
    }
}

.min-width-auto {
    min-width: auto !important;
}

.hidden{
    display:none;
    opacity: 0;
}

#__next-prerender-indicator {
    display: none;
}

.cursor-pointer {
    cursor: pointer;
}
