$brand-primary: #1AC0C6;
$link-color: #1AC0C6;

//BRAND COLOURS
$brandNavy:#2C2733;
$brandNavySecondary:#786F84;

$white:#fff;

$border-color-default:#D8D8D8;

//Layout
$padding-base:15px;
$margin-base:15px;