$brand-primary: #1AC0C6;
$brand-dark-lavender: #786F84;
$brand-raisin-black: #201C26;
$brand-tropical-violet: #CBB9E2;
$brand-white-smoke: #F7F7F7;
$brand-gold: #F3DE8A;

$link-color: #1AC0C6;

//BRAND COLOURS
$brandNavy:#2C2733;
$brandNavySecondary:#786F84;

$white:#fff;

$border-color-default:#D8D8D8;

//Layout
$padding-base:15px;
$margin-base:15px;

$brand-t-and-s: #5CC2E1;

$brand-purely-red: #D02D55;

