.hero-container {
  position: relative;
}

.hero-cta {
  padding-top: 10px;

  .btn {
    @extend .btn;
    //width: 300px;
  }

  p {
    margin-top: 10px;
  }
}
.hero {
  height: calc(100vh - 200px);
  min-height: 685px;
  padding-top: $navbar-height;
  background-color: $bt-brand-secondary-light;
  overflow: hidden;
  button {
    height: 50px;
  }
  .container {
    position: relative;
    height: 100%;
    z-index: 200000;
    &:before {
      display: block;
      content: " ";
      position: absolute;
      bottom: -155rem;
      z-index: -1;
      left: -190rem;
      width: 250rem;
      height: 200rem;
      background: $bt-brand-secondary;
      -webkit-transform: rotate(-30deg);
      transform: rotate(30deg);
    }
    &:after {
      content: " ";
      display: table;
    }
    .white {
      display: block;
      position: absolute;
      bottom: -218rem;
      left: -100rem;
      width: 1000rem;
      height: 403rem;
      background: #fff;
      transform: rotate(-30deg) translateY(0px);
    }
  }
}

.hero {
  color: white;
  padding-top: 6rem;
  button.btn {
    font-size: 1.2em !important;
  }
  h1,p {
    color: white;
  }
  h1 {
    font-size: 46px;
  }
  p {
    width: 65%;
    font-size: 22px;
    line-height: 2;
  }
  &--homepage {
    .hero-illustration {
      position: absolute;
      right: -15rem;
      z-index: 1000;
      bottom: 2.5rem;
      height: 620px;
    }
  }
}

.open-source {
  z-index: 1000000;
  color: rgba(255,255,255,0.8);
  position: absolute;
  bottom: 40px;
  left:40px;
  right: auto;
  div {
    background: rgba(0,0,0,0.5);
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;
    opacity: 0.85;
    img {
      opacity: 1;
      height: 22px;
      margin-bottom: 3px;
      fill: white;
      margin-right: 10px;
    }
  }
}

@media screen and (min-width: 1070px) and (max-width: 1270px) {
  .hero {
    &--homepage {
      .hero-illustration {
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1070px) {
  .hero {
    &--homepage {
      .hero-illustration {
      }
    }
  }
}

@media (max-width: 768px) {
  .hero {
    &--homepage {
      .hero-illustration {
      }
    }
    &--features-page {
      height: 520px;
      background-color: $hero-bg;

      .hero-illustration {
        position: absolute;
        top: 0em;
        right: -28em;
      }
    }
  }
}
