.hero-container {
  position: relative;
  overflow: hidden;
}

.hero-cta {
  padding-top: 10px;

  .btn {
    @extend .btn;
    //width: 300px;
  }

  p {
    margin-top: 10px;
  }
}
.hero {
  height: calc(110vh);
  min-height: 920px;
  padding-top: $navbar-height;
  background-color: $bt-brand-secondary-light;
  overflow: hidden;
  button {
    height: 50px;
  }
  .container {
    position: relative;
    height: 100%;
    z-index: 200000;
    &:before {
      display: block;
      content: " ";
      position: absolute;
      z-index: -1;
      bottom: -170rem;
      left: -140rem;
      width: 250rem;
      height: 200rem;
      -webkit-transform: rotate(-30deg);
      transform: rotate(30deg);
      background: $bt-brand-secondary;
    }
    &:after {
      content: " ";
      clear: both;
      display: table;
    }
    .white {
      display: block;
      position: absolute;
      bottom: -258rem;
      left: -208rem;
      width: 966rem;
      height: 384rem;
      background: #fff;
      transform: rotate(-26deg) translateY(0);
    }
  }
  .tech {
    z-index: 10000000;
    padding: 40px 0;
    position: absolute;
    left: 0;
    right:0;
    bottom:10px;
    p {
      width: 100%;
      color: $body-text;
    }
    .row > div {
      margin: 0 auto;
      img {
        width: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
        opacity: 0.75;
      }
    }

    a {
      color: #22354a;
      font-weight: bold;
    }
  }
}

.hero {
  color: white;
  padding-top: 8rem;
  button.btn {
    font-size: 1.2em !important;
  }
  h1,p {
    color: white;
  }
  h1 {
    font-size: 46px;
  }
  p {
    width: 65%;
    font-size: 22px;
    line-height: 2;
  }
  &--homepage {
    .hero-illustration {
      position: absolute;
      height: 550px;
      right: -8%;
      top: 37%;
      z-index: 100000000;
    }
  }
}

.open-source {
  z-index: 1000000;
  color: rgba(255,255,255,0.8);
  position: absolute;
  bottom: 40px;
  left:40px;
  right: auto;
  div {
    background: rgba(0,0,0,0.5);
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;
    opacity: 0.85;
    img {
      opacity: 1;
      height: 22px;
      margin-bottom: 3px;
      fill: white;
      margin-right: 10px;
    }
  }
}

@media screen and (min-width: 1070px) and (max-width: 1270px) {
  .hero {
    &--homepage {
      .white {
        left: -210rem !important;
      }
      .hero-illustration {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1070px) {
  .hero {
    &--homepage {
      .hero-illustration {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .hero {
    &--homepage {
      .white {
        left: -210rem !important;
      }
      .tech{
        bottom: -120px;
      }
      .hero-illustration {
        display: none;
      }
    }
    &--features-page {
      height: 520px;
      background-color: $hero-bg;

      .hero-illustration {
        position: absolute;
        top: 0em;
        right: -28em;
      }
    }
  }
}
