
@font-face {
    font-family: 'Proxima Nova';
    src: url('/static/fonts/Proxima-Nova-Regular.woff');
    font-display:swap;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('/static/fonts/Proxima-Nova-Semibold.woff');
    font-weight:bold;
    font-display:swap;
}
@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('/static/fonts/Proxima-Nova-Semibold.woff');
    font-weight:bold;
    font-display:swap;
}
